<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Gallery</title>
    <link rel="shortcut icon" href="images/favicon.ico" />
    
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    <!-- silde show -->
    <link rel="stylesheet" type="text/css" href="./css/font-awesome-all.css" />
    <link rel="stylesheet" type="text/css" href="./css/reset.css" />
    <link rel="stylesheet" type="text/css" href="./css/nav.css" />
    <link rel="stylesheet" type="text/css" href="./css/social_media.css" />

    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
</head>
<style>
    .product-detail {
        text-align: center;
        margin-bottom: 50px;
    }
    
    .btnBack {
        margin-top: 70px;
        padding: 10px 40px;
        color: #fff;
        background-color: #dc3545;
        border: none;
        cursor: pointer;
    }
    
    .btnBack:hover {
        background-color: #c82333;
    }

    .itemImg {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        grid-gap: 10px;

    }
    
    .itemImg img{
        margin: 0 auto;
        /*border: .5px solid #d0d0d0;
        padding: 10px;*/
        border-radius: 10px;
        box-shadow: 0px 0px 10px #000000a1;
    }

    .itemImg picture:first-child{
        display: grid;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    {# .itemImg img:first-child{
        display: grid;
        grid-column-start: 1;
        grid-column-end: 3;
    } #}

</style>

<body>

    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-up"></i></button>
    <div id="ss_menu">
        <div class="socail-icon">
        </div>
        <div class="socail-icon">
            <a href={{ refCoach[0].facebook }} target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
        </div>
        <div class="socail-icon">
            <a href={{ refCoach[0].line }} target="_blank">
                <i class="fab fa-line"></i>
            </a>
        </div>
     
        <div class="socail-icon">
        </div>



        <div class="menu">
            <div class="share" id="ss_toggle" data-rot="180">
                <div class="circle"></div>
                <div class="bar"></div>
            </div>
        </div>
    </div>


    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
            <div class="nav-title">
                <img src="./images/LOGO945SHOP.png" />
                <img src="./images/LOGODBD01.png" />
            </div>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
                    <span></span>
                    <span></span>
                    <span></span>
                  </label>
        </div>

        <div class="nav-links">
            <a class="active" href="" target="_blank">หน้าแรก</a>
            <a href={{ refCoach[0].facebook  }} target="_blank">Message</a>
            <a href={{ refCoach[0].line }} target="_blank" >Line</a>
            <a href="" target="_blank">Register</a>
        </div>
    </div>



<div class="showMobile">
    <div class="container">

    
        <div class="item">
            <div class="product-detail">
                <h2 class="title">{{dataGallery.title_img}}</h2>
                
                    <div class="itemImg">
                        {% for item in img %}
                            <picture>
                                <source media="(max-width:800px)" srcset={{item.images_resize}}>
                                <img src="{{item.images}}" style="width: 100% ; margin-top: 15px;" />
                            </picture>
                        {% endfor %}
                    </div>

                         

            </div>
        </div>
    

        <div class="textDetail">
            <div>{{dataGallery.description | raw}}</div>
        </div>
    
    </div>
</div>

        <div class="product-detail">
        {# <a href="index.twig"> #}
            <button id="btnBack" class="btnBack">Back</button>
        {# </a> #}
        </div>
    <script src="./js/jquery-3.4.1.min.js"></script>
    <script src="./js/social_media.js"></script>
    <script>

			var refCoach = {{ refCoach | json_encode | raw }};
            var dataGallery = {{ dataGallery | json_encode | raw }};
            var img = {{ img | json_encode | raw }};

            console.log("refCode : ", refCoach)
            console.log("dataGallery : ", dataGallery)
            console.log("img : ", img)

        $('#btnBack').click(function() {
            // window.location.href = "./index.html"
            console.log('ter');
            history.go(-1)
        });

        //Get the button
        var mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>





</body>

</html>