<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Gallery</title>
    <link rel="shortcut icon" href="images/favicon.ico" />
    <!-- silde show -->
    <link rel="stylesheet" type="text/css" href="./css/slick.css" />
    <link rel="stylesheet" type="text/css" href="./css/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="./css/font-awesome-all.css" />



    <!-- video -->
    {# <link rel="stylesheet" type="text/css" href="./css/royalslider.css" />
    <link rel="stylesheet" type="text/css" href="./css/rs-default.css" />
    <link rel="stylesheet" type="text/css" href="./css/reset.css" /> #}
    <link rel='stylesheet' href='unitegallery/themes/video/skin-right-thumb.css' type='text/css' />
    <link rel='stylesheet' href='unitegallery/css/unite-gallery.css' type='text/css' />

    <link rel="stylesheet" type="text/css" href="./css/nav.css" />
    <link rel="stylesheet" type="text/css" href="./css/social_media.css" />

    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
</head>
<style>


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }

    body {
        background: #fff;
    }
    
    .container {
        width: 75vw;
        margin: 70px auto;
    }
    
    .item .title {
        text-transform: uppercase;
        font-family: 'Righteous', cursive;
        padding-top: 30px;
        padding-bottom: 20px;
        font-size: 24px;
        color: #000;
    }
    
    .textDetail {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        margin-top: 100px;
    }
    
    .slide-image {
        box-sizing: border-box;
        height: auto;
        padding: 10px;
    }
    
    .slide {
        width: 100%;
        /* height: 800px; */
        margin: 0 auto;
    }
    
    .gallery {
        margin-top: 20px;
        border: 1.5px solid #dcdcdc; 
        border-radius: 5px;
        padding: 10;

        box-shadow: 0px 0px 7px #0000001c;
    }
    
    .gallery img {
        background-position: top;
        background-size: cover;
        height: auto;
        width: 100%;
        padding: 5px;
        /* border: 2px solid #dfdfdf; */
        /* border-radius: 10px; */ 
    }
    
    .gallery .desc {
        color: #0000FF;
        text-align: center;
    }
    
    .gallery .desc-price {
        color: #000;
        text-align: center;
        font-size: 18px;
    }
    
    .slick-prev:before {
        content: "<";
        color: #fff;
        background-color: black;
        padding: 15px 10px;
        margin-left: -17px
    }
    
    .slick-next:before {
        content: ">";
        color: #fff;
        background-color: black;
        padding: 15px 10px;
    }
    /* the slides */
    
    .slick-slide {
        margin-left: 7px;
    }
    /* the parent */
    
    .slick-list {
        margin-left: -7px;
    }
    
    .view-more hr {
        margin-top: 20px;
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid rgb(233, 233, 233);
        margin: 1em 0;
        padding: 0;
    }
    
    .view-more {
        text-align: center;
        color: #0000FF;
        padding: 10px;
    }
    /* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
    
    #video-gallery {
        width: 100%;
        height: 400px !important;
    }
    /* .videoGallery .rsTmb {
        padding: 20px;
    } */
    
    .videoGallery .rsThumbs .rsThumb {
        width: 220px;
        height: 80px;
        border-bottom: 1px solid #2E2E2E;
    }
    
    .videoGallery .rsThumbs {
        width: 220px;
        padding: 0;
    }
    
    .videoGallery .rsThumb:hover {
        background: #000;
    }
    
    .videoGallery .rsThumb.rsNavSelected {
        background-color: #02874A;
        border-bottom: -color #02874A;
    }
    
    .sampleBlock {
        left: 3%;
        top: 1%;
        width: 100%;
        max-width: 400px;
        
    }
    
    .rsVideoContainer {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: block;
        float: left;
    }
    
    @media screen and (min-width: 0px) and (max-width: 500px) {

        .container {
            width: 95%;
            /* margin: 30px auto; */
            margin: 60px auto 30px auto;
        }
        .textDetail {
            display: grid;
            grid-template-rows: 1fr;
            grid-gap: 10px;
            margin-top: 40px;
        }
        .textDetail div:nth-child(1) {
            grid-column-start: 1;
            grid-column-end: 4;
        }
        .textDetail div:nth-child(2) {
            grid-column-start: 1;
            grid-column-end: 4;
        }
        .textDetail div:nth-child(3) {
            grid-column-start: 1;
            grid-column-end: 4;
        }
        .textDetail div:nth-child(4) {
            grid-column-start: 1;
            grid-column-end: 4;
        }
        .textDetail div:nth-child(5) {
            grid-column-start: 1;
            grid-column-end: 4;
        }
        .textDetail div:nth-child(6) {
            grid-column-start: 1;
            grid-column-end: 4;
        }
        .slide-image {
            box-sizing: border-box;
            height: auto;
            padding: 10px;
        }
        .slide {
            width: 390px;
            /* width: 310px;  */
            margin: 0 auto;
        }

        .gallery .desc-price {
            color: #000;
            text-align: center;
            font-size: 16px;
        }
        .gallery {
            margin-top: 20px;
            /* border: 1px solid #dcdcdc; */
            /* padding: 20px; */
            font-size: 3vw;
            /* border-radius: 10px; */
            /* background-color: red; */
        }

        .gallery img {
            background-position: top;
            background-size: cover;
            height: auto;
            width: 100%;
            padding: 5px;
            /*border: 2px solid #dfdfdf;
            border-radius: 10px;*/
        }
        .videoGallery .rsTmb {
            padding: 6px 8px;
        }
        .videoGallery .rsTmb h5 {
            font-size: 12px;
            line-height: 17px;
        }
        .videoGallery .rsThumbs.rsThumbsVer {
            width: 100px;
            padding: 0;
        }
        .videoGallery .rsThumbs .rsThumb {
            width: 100px;
            height: 47px;
        }
        .videoGallery .rsTmb span {
            display: none;
        }
        .videoGallery .rsOverflow,
        .royalSlider.videoGallery {
            height: 300px !important;
        }
        .sampleBlock {
            font-size: 14px;
        }

        #video-gallery {
            width: 100%;
            height: 300px !important;
        }
    }
    /* btn Top */
    
    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        left: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: teal;
        color: white;
        cursor: pointer;
        padding: 15px;
    }

</style>

<body>

    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-angle-up" aria-hidden="true"></i></button>

    {% if refCoach[0].facebook %}
    <div id="ss_menu">
        <div class="socail-icon">
        </div>
        <div class="socail-icon">
            <a href={{ refCoach[0].facebook }} target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
        </div>
        <div class="socail-icon">
            <a href={{ refCoach[0].line }} target="_blank">
                <i class="fab fa-line"></i>
            </a>
        </div>
     
        <div class="socail-icon">
        </div>
        <div class="menu">
            <div class="share" id="ss_toggle" data-rot="180">
                <div class="circle"></div>
                <div class="bar"></div>
            </div>
        </div>
    </div>
    {% endif %}


    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
            <div class="nav-title">
                <img src="./images/LOGO945SHOP.png" />
                <img src="./images/LOGODBD01.png" />
            </div>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
                    <span></span>
                    <span></span>
                    <span></span>
                  </label>
        </div>

        <div class="nav-links">
            <a class="active" href="" target="_blank">หน้าแรก</a>
            <a href={{ refCoach[0].facebook }} target="_blank">Message</a>
            <a href={{ refCoach[0].line }} target="_blank" >Line</a>
            <a href="" target="_blank">Register</a>
        </div>
    </div>


{% for item in dataGallery %}	
    <div class="container">
        <div id="append-item">
            <div class="item">
                <p class="title">{{ item.title }}</p>
                
                {# <div class="row clearfix">
                    <div class="col span_6 fwImage">
					
                        <div id="video-gallery" class="royalSlider videoGallery rsDefault">
                            {% for video in item.videolist %}
                                <a class="rsImg" data-rsVideo={{video.video_link}} href="https://img.youtube.com/vi/{{video.images_video}}/mqdefault.jpg">
                                    <div class="rsTmb">
                                        <img style="height: 100% ; " src="https://img.youtube.com/vi/{{video.images_video}}/mqdefault.jpg" />
                                    </div>
                                </a>
                            {% endfor %}
                        </div>

                    </div>
                </div> #}

                <div id="gallery" style="display:none;">
                    {% for video in item.videolist %} 
                        <div data-type="youtube" data-title=" " data-description=" " data-thumb="https://img.youtube.com/vi/{{video.images_video}}/mqdefault.jpg" data-image="https://img.youtube.com/vi/{{video.images_video}}/mqdefault.jpg" data-videoid={{video.images_video}}></div>
                    {% endfor %}
                </div>


            </div>
            <div class="slide">
                <div class="slick-wrapper">
                    <div class="carousel-1">
                    
                        {% for image in item.imagelist %}
                            <div class="gallery">
                                <picture>
                                    <source class="img-thumbnail"  media="(max-width:800px)"
                                    srcset={{image.images_resize}}>

                                    <img class="img-thumbnail" src={{image.images}}>
                                </picture>
                                <div class="desc">
                                    <p>{{image.title_img}}</p>
                                </div>
                                <div class="desc-price"><b>{{image.price}}฿</b></div>
                                <a href="/product?recId={{ image.id }}&ref_link={{refCoach[0].ref_link}}">
                                    <div class="view-more">
                                        <hr>
                                        <div><i class="fa fa-eye" aria-hidden="true"></i> มุมมองด่วน</div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                
                    </div>
                </div>
            </div>

            <div class="textDetail">
				<div>
					<p>{{item.description | raw}}<p>
				</div>
            </div>
            <hr style="margin-top: 20px;">
        </div>
    </div>
{% endfor %}


    <script src="./js/jquery-3.4.1.min.js"></script>

    <!-- slide show -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"></script>

    <!-- video -->
    {# <script src="./js/jquery.royalslider.min.js"></script> #}
    {# <script src="./js/video.js"></script> #}
    <script type='text/javascript' src='unitegallery/js/unitegallery.min.js'></script>
    <script type='text/javascript' src='unitegallery/themes/video/ug-theme-video.js'></script>

    <script src="./js/social_media.js"></script>
    <script>

	var refCoach = {{ refCoach | json_encode | raw  }};
    var dataGallery = {{ dataGallery | json_encode | raw }};

    console.log("dataGallery", dataGallery)
    console.log("refCode : ",refCoach)



        $(function() {
            $("#gallery").unitegallery({
                gallery_width: 1500, //gallery width		
                gallery_height: 700, //gallery height

                gallery_min_width: 400, //gallery minimal width when resizing
                gallery_min_height: 300, //gallery minimal height when resizing
            });

            $('.carousel-1').slick({
                variableWidth: false,
                adaptiveHeight: false,
                dots: true,
                infinite: false,
                speed: 500,
                useTransform: true,
                slidesToShow: 2.5,
                slidesToScroll: 1,
                prevArrow: false,
                nextArrow: false
            });

            $('#title-item').empty();

        });

        //Get the button
        var mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

    </script>





</body>

</html>