.nav {
    width: 100%;
    background-color: #fff;
    position: relative;
    border-bottom: 2px solid #eee;
    padding: 10px 0 0 0;
}

.nav>.nav-header {
    display: inline-block;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    color: #000;
    padding: 10px 10px 10px 10px;
    margin-left: 8vw;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline-block;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 25px 50px 13px 10px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.nav .nav-links .active {
    color: #1dc694;
}

.nav>.nav-links>a:hover {
    /* background-color: rgba(0, 0, 0, 0.3); */
    color: #1dc694;
}

.nav>#nav-check {
    display: none;
}


/* .nav-title {
    margin: 0 0 0 220px;
} */

.nav-title img:first-child {
    width: 50px;
    margin-left: 70px;
}

.nav-title img:last-child {
    width: 100px;
    margin-left: 40px;
}

@media screen and (min-width: 0px) and (max-width: 500px) {
    .container {
        display: grid;
        /* padding: 20px; */
    }
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
        padding: 20px;
    }
    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: #fff;
    }
    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #000;
    }
    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #fff;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 100px;
        left: 0px;
        z-index: 99;
        text-align: center;
    }
    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }
    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }
    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
    .nav-title {
        /* margin: 0 0 0 220px; */
        margin: 0;
    }
    .nav-title img:first-child {
        width: 50px;
    }
    .nav-title img:last-child {
        width: 100px;
    }
}