* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: #fff;
}

.container {
    width: 75vw;
    margin: 100px auto;
}

.item .title {
    text-transform: uppercase;
    font-family: 'Righteous', cursive;
}

.textDetail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 100px;
}

.slide-image {
    box-sizing: border-box;
    height: auto;
    padding: 10px;
}

.slide {
    width: 95%;
    /* height: 800px; */
    margin: 0 auto;
}

.gallery {
    margin-top: 20px;
    /* border: 5px solid #eee; */
    /* padding: 20px; */
}

.gallery img {
    background-position: top;
    background-size: cover;
    height: auto;
    width: 100%;
}

.gallery .desc {
    color: #0000FF;
    text-align: center;
}

.gallery .desc-price {
    color: #000;
    text-align: center;
}

.slick-prev:before {
    color: black;
}

.slick-next:before {
    color: black;
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */

#video-gallery {
    width: 100%;
}

.videoGallery .rsTmb {
    padding: 20px;
}

.videoGallery .rsThumbs .rsThumb {
    width: 220px;
    height: 80px;
    border-bottom: 1px solid #2E2E2E;
}

.videoGallery .rsThumbs {
    width: 220px;
    padding: 0;
}

.videoGallery .rsThumb:hover {
    background: #000;
}

.videoGallery .rsThumb.rsNavSelected {
    background-color: #02874A;
    border-bottom: -color #02874A;
}

.sampleBlock {
    left: 3%;
    top: 1%;
    width: 100%;
    max-width: 400px;
}

.rsVideoContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    float: left;
}

@media screen and (min-width: 0px) and (max-width: 500px) {
    .container {
        width: 95%;
        margin: 30px auto;
    }
    .textDetail {
        display: grid;
        grid-template-rows: 1fr;
        grid-gap: 10px;
        margin-top: 20px;
    }
    .textDetail div:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .textDetail div:nth-child(2) {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .textDetail div:nth-child(3) {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .textDetail div:nth-child(4) {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .textDetail div:nth-child(5) {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .textDetail div:nth-child(6) {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .slide-image {
        box-sizing: border-box;
        height: auto;
        padding: 10px;
    }
    .slide {
        height: 100%;
        width: 300px;
        margin: 0 auto;
    }
    .gallery {
        margin-top: 20px;
        border: 5px solid #eee;
        /* padding: 20px; */
        font-size: 3vw;
    }
    .videoGallery .rsTmb {
        padding: 6px 8px;
    }
    .videoGallery .rsTmb h5 {
        font-size: 12px;
        line-height: 17px;
    }
    .videoGallery .rsThumbs.rsThumbsVer {
        width: 100px;
        padding: 0;
    }
    .videoGallery .rsThumbs .rsThumb {
        width: 100px;
        height: 47px;
    }
    .videoGallery .rsTmb span {
        display: none;
    }
    .videoGallery .rsOverflow,
    .royalSlider.videoGallery {
        height: 300px !important;
    }
    .sampleBlock {
        font-size: 14px;
    }
}


/* btn Top */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: teal;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}


/* 
#myBtn:hover {
    background-color: #555;
} */