#video-gallery {
    width: 100%;
}

.videoGallery .rsTmb {
    padding: 20px;
}

.videoGallery .rsThumbs .rsThumb {
    width: 220px;
    height: 80px;
    border-bottom: 1px solid #2E2E2E;
}

.videoGallery .rsThumbs {
    width: 220px;
    padding: 0;
    /*  */
    /* height: 400px; */
}

.videoGallery .rsThumb:hover {
    background: #000;
}

.videoGallery .rsThumb.rsNavSelected {
    background-color: #02874A;
    border-bottom: -color #02874A;
}

.sampleBlock {
    left: 3%;
    top: 1%;
    width: 100%;
    max-width: 400px;
}

.rsVideoContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    float: left;
}